<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.roy.wx.dao.ResultMapper">
	<insert id="examed" parameterType="map">
		insert into drill_record(member_id, result_id, type, result, subject_id, suite_id, question_id, answers, gmt_created, gmt_modified) values
		<foreach collection="data" item="e" separator=",">
		(#{memberId}, #{resultId}, #{e.type}, #{e.result}, #{subjectId}, #{suiteId}, #{e.questionId}, #{e.answers}, now(), now())
		</foreach>
	</insert>
	<insert id="wrongsSave" parameterType="map">
		insert into wrong_result(member_id, subject_id, suite_id, question_id, answers, cnd, gmt_created, gmt_modified) values
		<foreach collection="data" item="e" separator=",">
		(#{memberId}, #{subjectId}, #{suiteId}, #{e.questionId}, #{e.answers}, 0, now(), now())
		</foreach>
		on duplicate key update cnd=0;
	</insert>
	<!-- <insert id="insertResult" parameterType="map">
		insert into drill_result(member_id, subject_id, type, target_id, score, gmt_created, gmt_modified) values
		(#{memberId}, #{subjectId}, #{type}, #{targetId}, #{score}, now(), now())
	</insert> -->

	<select id="page" parameterType="com.edu.roy.wx.comm.Page" resultType="ResultVO">
		select a.*,b.name memberName,c.name subjectName,d.title suiteTitle FROM 
		drill_result a 
		join member b on a.member_id=b.id
		join subject c on a.subject_id=c.id
		join suite d on a.suite_id=d.id
		where 1=1 
		<if test="param.subjectId>0">
			and a.subject_id=#{param.subjectId}
		</if>
		<if test="param.suiteTitle!=null">
			and d.title like concat('%',#{param.suiteTitle},'%')
		</if>
		<if test="param.memberName!=null">
			and b.name like concat('%',#{param.memberName},'%')
		</if>
		<if test="param.suiteType!=null">
			and a.type=#{param.suiteType}
		</if>
	</select>
</mapper>